<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <h1>
    <ng-template #sharingButtons>
      <a href="#" class="fa fa-facebook">fb</a>
    </ng-template>
    <button type="button" class="btn btn-outline-secondary mr-2" placement="bottom" [ngbPopover]="sharingButtons" popoverTitle="Share">
      Share
    </button>
    <ng-template #info>
      <p>Salman Khan might be a great actor, but what’s truly impressive is his deeds and get aways. This page is for humour
        and remind us to make our life decisions carefully. This project is in no way associated with Salman Khan, and some
        of the content on this page might be incorrect or untrue. All content belongs to their respective owners. Contact
        us if you have any questions or requests.</p>
      <p>
        A project by
        <a href="https://github.com/ronrumao">@ronrumao</a> and
        <a href="https://github.com/jainarihant">@jainarihant</a>
      </p>
    </ng-template>
    <button type="button" class="btn btn-outline-secondary mr-2" placement="bottom" [ngbPopover]="info" popoverTitle="Info">
      Info
    </button>
  </h1>
</div>
<router-outlet></router-outlet>